* {
            box-sizing: border-box;
        }
        body{
            background-image: url(imagenes/backk.jpeg);
            
            
        }

        p{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        a{
            text-decoration: none;
            color: white;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            margin: 10px;
            
        }

        .card {
            width: 300px;
            height: 200px;
            margin: 10px;
            border: 1px solid black;
            border-radius: 10px;
        }

        .card-image {
            width: 100%;
            height: 60%;
            object-fit: cover;            
        }


        .ime img:hover{
            transition: all 0.6% ease;
            filter: brightness(60%);
        }



        .card-content {
            width: 100%;
            height: 40%;
            padding: 10px;
            font-family: Arial, sans-serif;
            background-color: #c65f26;
            color: white;
        }

        .card-title {
            font-size: 18px;
            font-weight: bold;
        }

        .card-text {
            font-size: 14px;
        }

        
        .nav {
            margin: -10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #791c32;
            color: white;
            padding: 10px;
            position: sticky;
            top: 0px;        
        }

        .nav-logo {
            font-size: 24px;
            font-weight: bold;
        }

        .nav-links {
            display: flex;
            list-style: none;
        }

        .nav-link {
            margin: 10px;
            text-decoration: none;
            color: white;
        }
        
        .nav-link-bar{
            text-decoration: none;
            color: white;
        }
        
        
        .nav-toggle-bar{
            display: none;
        }
        
        .nav-toggle{
            display: none;
        }
        .nav-links1{
            display: none;
            text-decoration: none;
            color: white;
            list-style: none;
        }
        
        .nav-link-bar:hover{
            color: black;
            
        }

        .nav-link:hover {
            color: black;
            
        }

        
        .relleno{
            margin: -20px -7px;
            background-color: white;
            height: auto;
        }

        .titulos{
            text-align: center;
            color: #791c32;

        }

        .subtitle{

            color: #791c32;
        }
        .sepa{
            margin: 10px;
        }

        .nav ul li:hover ul{
            width: 100px;
            display: block;
            

        }
        .nav ul li ul li{  
            list-style: none;
            padding: 10px;
            margin-left: -25px;
            color: white;
            
            
        }

        .nav ul li ul li:hover{  
            color:black;   
            cursor: pointer;
             
        }

        
        .nav ul li ul a:hover{  
            color:black;   
            cursor: pointer;
            
        }
        


        .nav ul li .lugares{
            
            display: none;
            position: absolute;
            right: 140px;
            background-color: #333;
            top: 80px;
            

            
        }

        .nav ul li .idiomas{
            
            display: none;
            position: absolute;
            right: 0px;
            width: 200px;
            background-color: #333;
            top: 80px;
            

            
        }
        
        

        


        @media screen and (max-width: 600px) {
            .nav ul li:hover ul{
                display: none;    
            }

            .nav ul li ul li{  
                display: none;
            }

            .nav-links {
                display: none;
            }

            .container {
                flex-direction: column;
                align-items: center;
            }

            .nav-toggle {
                display: block;
                cursor: pointer;
            }

        }

        
    
        .otro{
            position: absolute;
            top: 50px;
            width: 70px;
            height: 30px;
            background-color: transparent;
        }

        .otrocoso{
            position: absolute;
            top: 50px;
            width: 60px;
            height: 30px;
            background-color: transparent;
        }

        .idio{
            color: white;
            text-decoration: none;
        }

        .idio:hover{
            color: black;
        }